body {
  font-family: "Roboto", sans-serif;
}
.custom-text1 {
  font-family: "Monoton", cursive;
  font-size: 68px;
  font-weight: 100;
  cursor: pointer;
  display: flex;
}
.custom-text1 span {
  transition: all 0.3s ease;
  display: flex;
  margin: 0 3px;
}
.custom-text1 span:hover {
  font-weight: 700;
  color: var(--main-color);
  transform: scale(1.1);
}
.custom-text2 {
  font-family: "East Sea Dokdo", cursive;
  color: var(--main-color);
  font-size: 80px;
}
.button {
  padding: 9px 15px;
  border: 1.5px solid transparent;
  border-radius: 8px;
  text-decoration: none;
  border-bottom: 3px;
  color: var(--white-color);
}
.button i {
  margin-left: 3px;
}
.button:hover i {
  margin-left: 8px;
}

.button-main {
  background: var(--main-color);
}
.button-main:hover {
  border: 1.5px solid var(--main-color);
  background: var(--main-color-dark);
  border-bottom-width: 3px;
}
.button-light {
  border: 1.5px solid var(--main-color);
  color: var(--main-color);
  background: var(--white-color);
}
.button-light:hover {
  border: 1.5px solid var(--main-color);
  background: var(--white-color);
}
.nav-desktop {
  display: flex;
  justify-content: space-between;
  background: var(--black-color);
  padding: 12px 50px;
  align-items: center;
}
.nav-brand {
  color: var(--white-color);
  font-size: 32px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.nav-brand span {
  font-family: "Monoton", cursive;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-color);
  color: var(--white-color);
  padding: 5px;
  margin-right: 3px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.destop-links {
  list-style: none;
  display: flex;
  align-items: center;
}
.destop-links li a {
  display: block;
  padding: 3px 0;
  margin: 0 20px;
  text-decoration: none;
  color: var(--white-color);
  font-size: 18px;
  font-weight: 500;
  border-bottom: 1.5px solid transparent;
}
.destop-links li a:hover {
  border-bottom: 1.5px solid var(--main-color);
}

.mobile-header {
  background: var(--black-color);
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 10px 20px;
}

.nav-mobile {
  display: none;
  position: relative;
  z-index: 160;
}
.mobile-navigation {
  border-top: 1px solid var(--white-color);
  position: absolute;
  width: 100%;
  left: 0;
  top: -800%;
  z-index: 100;
  transition: all 0.4s ease;
}
.show-mobile-navigation {
  top: 80px;
}
.mobile-links {
  list-style: none;
  padding-bottom: 20px;
  background: var(--black-color);
}
.mobile-links li a {
  display: block;
  text-decoration: none;
  padding: 15px 20px;
  color: var(--main-color);
}
.mobile-links li a:hover {
  background: var(--main-color);
  color: var(--white-color);
}

.mobile-links .button {
  display: inline-block;
  margin: 20px 0 0 20px;
}

/* /// hanburger menu starts here///// */
.navmobile-menu {
  width: 2.5rem;
  height: 2.8125rem;
  display: flex;
  align-items: center;
}

.menu-bar {
  width: 100%;
  height: 0.1875rem;
  background: var(--white-color);
  position: relative;
}

.showMenu .menu-bar {
  background: transparent;
}

.showMenu .menu-bar {
  background: transparent;
}

.showMenu .menu-bar::before {
  transform: rotate(45deg);
}

.showMenu .menu-bar::after {
  transform: rotate(-45deg);
}

.menu-bar::before,
.menu-bar::after {
  content: "";
  height: 0.1875rem;
  width: 100%;
  position: absolute;
  background: var(--white-color);
}

.menu-bar::after {
  transform: translateY(10px);
}

.menu-bar::before {
  transform: translateY(-10px);
}

/* /// hanburger menu ends here///// */

.header-banner {
  background: url(./img/header.jpg);
  background-position: bottom center;
  height: 450px;
  padding: 50px 50px 30px 50px;
  position: relative;
  color: var(--white-color);
  z-index: 10;
  overflow: hidden;
  background-size: cover;
}

.header-banner p {
  width: 500px;
  line-height: 1.7;
}

.header-banner img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 300px;
  animation: circularmotion 50s infinite linear;
}

@media (max-width: 768px) {
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    display: block;
  }
}
