body {
  font-family: "Roboto", sans-serif;
}
.custom-text1 {
  font-family: "Monoton", cursive;
}
.custom-text2 {
  font-family: "East Sea Dokdo", cursive;
}
.button {
  padding: 9px 15px;
  border: 1.5px solid transparent;
  border-radius: 8px;
  text-decoration: none;
  border-bottom: 3px;
  color: var(--white-color);
}
.button i {
  margin-left: 3px;
}
.button:hover i {
  margin-left: 8px;
}

.button-main {
  background: var(--main-color);
}
.button-main:hover {
  border: 1.5px solid var(--main-color);
  background: var(--main-color-dark);
  border-bottom-width: 3px;
}
.button-light {
  border: 1.5px solid var(--main-color);
  color: var(--main-color);
  background: var(--white-color);
}
.button-light:hover {
  border: 1.5px solid var(--main-color);
  background: var(--white-color);
}
nav {
  display: flex;
  justify-content: space-between;
  background: var(--black-color);
  padding: 12px 50px;
  align-items: center;
}
.nav-brand {
  color: var(--white-color);
  font-size: 32px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.nav-brand span {
  font-family: "Monoton", cursive;

  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-color);
  color: var(--white-color);
  padding: 5px;
  margin-right: 3px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.destop-links {
  list-style: none;
  display: flex;
  align-items: center;
}
.destop-links li a {
  display: block;
  padding: 3px 0;
  margin: 0 20px;
  text-decoration: none;
  color: var(--white-color);
  font-size: 18px;
  font-weight: 500;
}
.destop-links li a:hover {
  border-bottom: 1.5px solid var(--main-color);
}
